.xyz{
    height: 92vh;
}
.crop{
  height: 300px;
  width: 100%;
}
.about{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: cursive;
  font-weight: 800;
}
.desc{
  height:200px;
  width:100%;
  background-color: aqua;
}
.aboutus{
 border: 1px solid black;
 width:100%;
 padding:2rem;
 box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
 font-weight: 500;
 border-radius: 5px;
}
.footer{
  width:100%;
  height: 300px;
  background-color: rgba(97,97,97);
  text-align: center;
  padding-top: 20px;
  color: white;
}
.tag{
 padding-top: 15px;
 font-size: 25px;
 font-weight: 500;

}

/* navstyle */
.link:hover{
 color: #66d9ff !important;
}
.logo:hover{
 color: #66d9ff !important;
}
/* slider-text */
.slider-text{
 margin-bottom: 17%;
 font-size: 4rem;

}
.slider-text p{
 font-size: 1.8rem;
}

@media only screen and (max-width: 600px) {
.xyz{
 height: 50vh;
 }

}
/* crop.html */
